<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="<%= place.photos.present? ? 'col-12 col-sm-8 place-adjust' : 'col-12' %>">
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i><br /><br />
    </div>
    <div class="col-12 col-md-8 place-adjust">
      <p><%= place.description %></p><br />
      <% if place.user.present? %>
        <small><%= place.user.email %></small>
      <% end %>
    </div>
    <% if place.photos.present? %>
      <div class="col-12 col-sm-4 offset-sm-8">
        <%= image_tag place.photos.last.picture, class: 'img-fluid img-thumbnail img-adjust' %>
      </div>
    <% end %>

    <div class="clear"></div>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="paginate col-10 offset-1">
  <%= will_paginate @places %>
</div>
